:root {
    /* Кольори */
    --color-primary: #99ac57;
    --color-secondary: #212121;
    --color-background: #7A3E3E;
    --color-text: #261f3b;
    --button-color: rgb(81, 81, 81);

    /* #47A992
#482121
#7A3E3E
#EEEEEE
   */
    /* Розміри */
    --border-radius: 10px;
    --padding: 12px;
  
    /* Анімації */
    --fade-time: 0.3s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }